* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #343a40;
  line-height: 1.5;
}

#root {
  padding: 3.5%;
  display: grid;
  grid-template-rows: 50vh 50px 1fr;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
}

#main {
  max-width: 90%;
  min-height: 40vh;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  width: 90%;
  gap: 10px;
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: stretch;
  border: 1px solid #e9ecef;
  border-radius: 100px;
  align-items: center;
  padding: 2px 14px;
  gap: 10px;
}

.search-bar:focus-within {
  border: 1px solid #05495f;
}

.search-btn {
  background-color: white;
  border: 1px solid #e9ecef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

img {
  width: 25px;
  height: 25px;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #dfdfdf42;
}

input {
  width: 100%;
  border: none;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #343a40;
  font-size: 16px;
  line-height: 1.5;
}

input::placeholder {
  color: #c6c6c6;
  font-size: 16px;
}

input:focus {
  outline: none;
  border: none;
}

p {
  font-size: 14px;
}

.feedback-date {
  color: #6c757d;
}

.feedback {
  padding: 30px 20px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.pagination {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pagination p {
  font-size: 1.1rem;
  color: #5c6369;
  width: 30px;
  text-align: center;
  /* font-weight: 700; */
}

.page-back-btn.active,
.page-forward-btn.active {
  background-color: white;
  border: 1px solid #6c757dbb;
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: 600;
  color: #6c757d;
}

.page-back-btn,
.page-forward-btn {
  background-color: white;
  border: 1px solid #e9ecef;
  color: #343a408c;
  padding: 2px 10px;
  border-radius: 8px;
}

button.active:hover {
  cursor: pointer;
  background-color: #dfdfdf42;
}

.loading-img {
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0;
  width: 24px;
  height: 24px;
  border-color: rgb(5, 73, 95) rgb(5, 73, 95) rgb(5, 73, 95) transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-message,
.notfound-title {
  font-size: 1.3rem;
  margin-top: 15px;
  font-weight: 600;
  color: #05495f;
}

.loading,
.notfound-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notfound-img {
  width: 350px;
  height: auto;
}
.highlight-button-container {
  position: absolute;
}
